body{
    background: #452b6381;
}

header {
    background-color:#937bbbb6;;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 7px;
}
.nav-links {
    list-style: none;
    display: flex;
}
.nav-links li {
    margin-right: 20px;
    font-size: 20px;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
}
#heading{
    color: var(--default-white, #FFF);
text-shadow: 0px 8px 35px rgba(146, 138, 138, 0.16);
font-family: sans-serif;
font-size: 114px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: -4.32px;
}